{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Note</title>
    <link rel="stylesheet" href="{% static 'css/note.css' %}">
</head>
<body style="background-color: #191919;">
  <div id="sidebar">
      <div class="logo" align="center"><span>Motion</span></div>
      <div class="user" onclick="toggleDropdown()">
          {% if email == None %}
              {{ username }}
          {% else %}
              {{ email }}
          {% endif %}
      </div>
      <div id="dropdown" style="display: none;">
          <div class="dropdown-item" style="opacity: 0; transform: translateY(-10px); transition: all 0.2s ease-in-out;">Profile</div>
          <div class="dropdown-item" style="opacity: 0; transform: translateY(-10px); transition: all 0.2s ease-in-out;">Settings
              <a href="{% url 'logout' %}" style="text-decoration: none"><div class="dropdown-item" style="opacity: 0; transform: translateY(-10px); transition: all 0.2s ease-in-out;">Logout</div></a>
          </div>
      </div>
      <hr>
      <div class="page">Page 1</div>
  </div>
  <div class="content" align="center">
      <div class="noteTitle" align="left" contenteditable="true" autofocus data-placeholder="Title"></div>
      <div class="noteText" align="left" contenteditable="true" data-placeholder="Write..."></div>
  </div>
  <script src="{% static 'js/note.js' %}"></script>
</body>
</html>
