body{
    overflow-x:hidden;
}

#sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: #202020;
    transition: all 0.3s;
}

#sidebar:hover {
    left: 0;
}

.logo *{
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 30px;
    color: #8B8B8B;
}

.user{
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 20px;
    color: #8B8B8B;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 290px;
}

.user:hover{
    background-color: #2C2C2C;
}

.dropdown-item{
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 20px;
    color: #8B8B8B;
    margin-left: 20px;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-item:hover{
    background-color: #2C2C2C;
}

.page{
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 20px;
    color: #8B8B8B;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.content {
    width: 100%;
    padding: 1px;
    min-height: 10h;
    transition: all 0.3s;
    margin-top: 100px;
}

.page:hover{
    background-color: #2C2C2C;
}

.noteTitle{
    width: 700px;
    color: #8B8B8B;
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 30px;
    outline: 0;
}

.noteText{
    width: 700px;
    color: #8B8B8B;
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 20px;
    outline: 0;
    margin-top: 10px;
    margin-bottom: 100px;
}

[contenteditable="true"]:empty:not(:focus):before {
    content: attr(data-placeholder);
    color: #7a7a7a;
}

.btnSave{
    color: black;
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    padding: 5px 10px;
}